body {
    background:rgb(249, 252, 250);
    color:darkgreen;
    font-family: Helvetica,Arial,sans-serif;
    margin:50px;
}
h1 {
    text-align: center;
    color:rgb(8, 75, 8);
    font-size:70px;
}
h2 {
    font-size:30px;
    border-bottom:1px solid darkgreen;
}
p {
    font-size:21px;
    padding-bottom:10px;
}
.wd {
    font-family:webdings;
}
button {
    border-radius:20px;
    font-size:40px;
    padding:8px;
    font-family:inherit;
    text-align:center;

}
button:hover{
    background-color:grey;
    color:darkgrey;
    transition-duration:400ms;
    }
button:active{
    background-color:black;
    color:white;

}
.central {
    text-align:center;
}